@model ML.Hospital
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Formulario de Hospital</h1>
<div class="container">
    @using (Html.BeginForm("Form", "Hospital", FormMethod.Post, new { enctype = "multipat/form-data" }))
    {
        <div class="row pb-md-3">
            @Html.HiddenFor(model => model.IdHospital)
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Nombre, new{@class="form-control", @placeholder="Nombre de Hospital", @type="text"})
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Direccion, new{@class="form-control", @placeholder="Dirección", @type="text"})
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.AnioConstruccion, new{@class="form-control", @placeholder="Año de Construcción", @type="year"})
            </div>
        </div>
        <div class="row pb-md-3">
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Capacidad, new{@class="form-control", @placeholder="Número de capacidad", @type="number"})
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Especialidad.IdEspecialidad, new SelectList(Model.Especialidad.Especialidades, "IdEspecialidad", "Nombre"), "Selecciona una especialidad", new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @if (Model.IdHospital == 0)
            {
                <div class="col-md-6">
                    <button type="submit" class="btn btn-outline-primary">Agregar</button>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <button type="submit" class="btn btn-outline-success">Actualizar</button>
                </div>
            }
            <div class="col-md-3">
                <a class="btn btn-outline-warning" href="@Url.Action("GetAll", "Hospital")">Cancelar</a>
            </div>
        </div>
    }

</div>

